body {
	background-color: rgb(167, 134, 97);
	font-family: 'Concert One', cursive;
	font-size: 2em;
}

h1 {
	font-size: 3em;
}

.letter-cell {
	max-width: 50px;
	height: 50px;
	border: 2px solid black;
	margin: 1px;
	border-radius: 3px;
	text-align: center;
	box-shadow: 1px 1px 3px black;
	background-color: rgb(201, 177, 150);
}

.btn {
	background-color: rgb(201, 177, 150);
}

header,
h2 {
	background-color: rgb(61, 61, 61);
	padding: 5px;
	border-radius: 5px;
	color: rgb(201, 177, 150);
}
